.activity-feed {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: auto;
  font-family: "Proxima Nova";
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.05);
  margin: 42px 0px;
}

.activity-feed-top {
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.activity-feed-title {
  display: flex;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-left: 25px;
}

.activity-feed-bot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 25px 0px;
}

/* for smaller screens, remove activity feed */

@media only screen and (max-width: 1000px) {
  .activity-feed{
    display: none;
  }
}
