.activity {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

.activity-top {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
}

.activity-bot {
  display: flex;
  height: 20px;
  width: 100%;
}

.activity-avatar {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin-left: 30px;
}

.activity-caption {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-left: 9px;
  margin-right: 38px;
}

.activity-time {
  margin-left: 74px;
  font-family: "Proxima Nova";
  font-size: 13px;
  line-height: 16px;
  color: #565656;
  mix-blend-mode: normal;
  opacity: 0.5;
}
