.content {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 268px;
  left: 122px;
  width: 66%;
  height: auto;
  font-family: "Proxima Nova";
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

.content-top {
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.content-title {
  display: flex;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-left: 30px;
}

.content-count {
  display: flex;
  margin-left: auto;
  margin-right: 33px;
  font-family: "Proxima Nova";
  font-size: 14px;
  color: #7f7f7f;
}

.content-bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 180px;
  border: 1px solid #e4e7ec;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 8px 0px;
}

.content-card:hover {
  box-shadow: 1px 1px #2995da, 2px 2px #2995da, 3px 3px #2995da;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: all 0.7s;
}

.content-card-top {
  display: flex;
  height: 119px;
  width: 100%;
  border-bottom: 1px solid #e4e7ec;
}

.content-card-logo {
  position: absolute;
  height: 36px;
  width: 36px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 3px;
}

.content-card-title {
  position: absolute;
  margin-left: 61px;
  margin-top: 17px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #444444;
}

.content-card-date {
  position: absolute;
  margin-left: 61px;
  margin-top: 38px;
  font-family: "Proxima Nova";
  font-size: 13px;
  line-height: 16px;
  color: #565656;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.content-card-star {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-left: 275px;
  margin-right: 14px;
  margin-top: 16.39px;
}

.content-card-text {
  position: absolute;
  width: 270px;
  margin-left: 15px;
  margin-top: 70px;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 17px;
  color: #565656;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content-card-bot {
  display: flex;
  height: 58px;
  width: 100%;
  align-items: center;
}

.content-card-campaign-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-left: 17px;
}

.content-card-leads-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-left: 130px;
}

.content-card-campaign-text {
  position: absolute;

  font-family: "Proxima Nova";
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.45;
  margin-left: 39px;
}

.content-card-leads-text {
  position: absolute;

  font-family: "Proxima Nova";
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.45;
  margin-left: 152px;
}
