.content {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top: 268px;
  left: 122px;
  width: 66%;
  height: auto;
  font-family: "Proxima Nova";
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

.content-top {
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.content-title {
  display: flex;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-left: 30px;
}

.content-count {
  display: flex;
  margin-left: auto;
  margin-right: 33px;
  font-family: "Proxima Nova";
  font-size: 14px;
  color: #7f7f7f;
}

.content-bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px;
}
