.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  position: fixed;
  height: 50%;
  width: 50%;
  top: 15%;
  left: 15%;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
}

.form-title {
  font-family: "Proxima Nova";
  font-size: 24px;
  color: #000000;
  margin: 25px 25px;
}

.form-text {
  font-family: "Proxima Nova";
  font-size: 14px;
  color: #7f7f7f;
}
