.navbar {
  position: fixed;
  overflow: hidden;
  display: flex;
  left: 80px;
  width: calc(100% - 80px);
  height: 80px;
  font-size: 1.2rem;
  font-family: "Proxima Nova";
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
  z-index: 1;
}

.navbar-app-name {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 38px;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 600;
  color: #1a1919;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-right: 1px solid #e2e2e2;
}

.navbar-breadcrumbs {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 27px;

  font-family: "Proxima Nova";
  font-size: 18px;
  color: #000000;
}
