.sidetile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

.sidetile:last-child {
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.sidetile-current {
  background-color: #2995da;
  width: 100%;
}

.sidetile-logo {
  z-index: 2;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
